In [2]:
import psycopg2

In [3]:
# import pandas
import pandas as pd

# import sqlalchemy
from sqlalchemy import create_engine

In [4]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://lhl_student:lhl_student@\
mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')
 
# Connect to PostgreSQL server
dbConnection    = alchemyEngine.connect();

In [5]:
# Read data from PostgreSQL database table and load into a DataFrame instance
#flights = pd.read_sql("SELECT * from flights order by random() LIMIT 500000", dbConnection)
#flights = pd.read_sql("SELECT * from flights LIMIT 10", dbConnection)
flights=pd.read_sql("SELECT * FROM flights TABLESAMPLE SYSTEM(2)",dbConnection)
#pd.read_sql("SELECT COUNT(*) FROM flights",dbConnection)

In [6]:
flights.shape

(324086, 42)

In [7]:
passengers=pd.read_sql("SELECT * FROM passengers TABLESAMPLE SYSTEM(14)",dbConnection)

In [8]:
passengers.shape

(330348, 38)

In [9]:
fuel_consumption=pd.read_sql("SELECT * FROM fuel_comsumption",dbConnection)

In [10]:
fuel_consumption.shape

(3035, 25)

In [11]:
#Persist to CSV
flights.to_csv('flights_sample.csv')
passengers.to_csv('passengers_sample.csv')
fuel_consumption.to_csv('fuel_consumption.csv')