In [1]:
import psycopg2

In [2]:
# import pandas
import pandas as pd

# import sqlalchemy
from sqlalchemy import create_engine

In [3]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://lhl_student:lhl_student@\
mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')
 
# Connect to PostgreSQL server
dbConnection    = alchemyEngine.connect();

In [4]:
# Read data from PostgreSQL database table and load into a DataFrame instance
flights = pd.read_sql("SELECT * from flights order by random() LIMIT 1000", dbConnection)

In [5]:
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-03-28,AA,AA,AA,2176,AA,N725UW,2176,11057,CLT,...,83.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2018-06-02,WN,WN,WN,3861,WN,N8538V,3861,13232,MDW,...,1855.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-01-13,AS,AS_CODESHARE,AS,2355,QX,N453QX,2355,11884,GEG,...,279.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
3,2018-11-03,AA,AA,AA,2683,AA,N153AN,2683,11298,DFW,...,1464.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
4,2018-03-18,UA,UA,UA,2072,UA,N36469,2072,13930,ORD,...,1182.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None

In [8]:
#Persist to CSV
flights.to_csv('flights_sample.csv')