In [1]:
import psycopg2

In [2]:
# import pandas
import pandas as pd

# import sqlalchemy
from sqlalchemy import create_engine

In [3]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://lhl_student:lhl_student@\
mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')
 
# Connect to PostgreSQL server
dbConnection    = alchemyEngine.connect();

In [5]:
# Read data from PostgreSQL database table and load into a DataFrame instance
#flights = pd.read_sql("SELECT * from flights order by random() LIMIT 500000", dbConnection)
#flights = pd.read_sql("SELECT * from flights LIMIT 10", dbConnection)
flights=pd.read_sql("SELECT * FROM flights TABLESAMPLE SYSTEM(2)",dbConnection)
#pd.read_sql("SELECT COUNT(*) FROM flights",dbConnection)

In [6]:
flights.shape

(324086, 42)

In [7]:
passengers=pd.read_sql("SELECT * FROM passengers TABLESAMPLE SYSTEM(14)",dbConnection)

In [8]:
passengers.shape

(330348, 38)

In [9]:
fuel_consumption=pd.read_sql("SELECT * FROM fuel_comsumption",dbConnection)

In [10]:
fuel_consumption.shape

(3035, 25)

In [11]:
#Persist to CSV
flights.to_csv('flights_sample.csv')
passengers.to_csv('passengers_sample.csv')
fuel_consumption.to_csv('fuel_consumption.csv')

In [4]:
pd.read_sql("SELECT fl_date FROM flights_test LIMIT 10",dbConnection)

     fl_date
0 2020-01-01
1 2020-01-01
2 2020-01-01
3 2020-01-01
4 2020-01-01
5 2020-01-01
6 2020-01-01
7 2020-01-01
8 2020-01-01
9 2020-01-01

In [6]:
flights_test=pd.read_sql("SELECT * FROM flights_test WHERE fl_date IN ('2020-01-01','2020-01-02','2020-01-03',\
'2020-01-04','2020-01-05','2020-01-06','2020-01-07')",dbConnection)

In [7]:
flights_test.shape

(150623, 20)

In [8]:
flights_test.to_csv('flights_test.csv')